PORT=8788
SELF_HOSTED_SCRAPER_API_KEY=change-me
SELF_HOSTED_TIMEOUT_MS=90000
SELF_HOSTED_MAX_ITEMS=60
SELF_HOSTED_HEADLESS=true
SELF_HOSTED_ATTEMPTS=3
SELF_HOSTED_RETRY_BASE_MS=1500

# Strongly recommended on Heroku to reduce eBay blocking:
# SELF_HOSTED_PROXY_SERVER=http://proxy-host:proxy-port
# SELF_HOSTED_PROXY_USERNAME=proxy-user
# SELF_HOSTED_PROXY_PASSWORD=proxy-password

